<nav id="sticky-navigation" class="docs-navbar-header" aria-label="Top Toolbar">
  <a class="docs-button" routerLink="/" aria-label="NGX Audio Player">
    <img class="docs-angular-logo"
      src="https://raw.githubusercontent.com/mudigal-technologies/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"
      alt="">
    <span>Audio Player</span>
  </a>

  <div class="flex-spacer"></div>
  <app-theme-picker></app-theme-picker>
  <a mat-button class="docs-button docs-navbar-hide-small" target="_blank"
    href="https://github.com/mudigal-technologies/ngx-audio-player" aria-label="GitHub Repository">
    <img class="docs-angular-logo"
      src="https://raw.githubusercontent.com/mudigal-technologies/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"
      alt="">
    GitHub
  </a>
  <a mat-icon-button class="docs-button docs-navbar-show-small"
    href="https://github.com/mudigal-technologies/ngx-audio-player" aria-label="GitHub Repository">
    <img class="docs-angular-logo"
      src="https://raw.githubusercontent.com/mudigal-technologies/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"
      alt="">
  </a>
</nav>