#sticky-navigation {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}


.docs-navbar-header {
  position: fixed;
  width: 100%;
  top: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  min-height: 80px;

  >.mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none ! important;
}

.flex-spacer {
  flex-grow: 1;
}

.docs-angular-logo {
  height: 36px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.docs-github-logo {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

.docs-navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.docs-navbar {
  display: none;
}

.docs-navbar-show-small {
  display: none;
}

.skip-link-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .docs-navbar-hide-small {
    display: none;
  }

  .docs-navbar-show-small {
    display: block;
  }

  .docs-navbar {
    display: flex;
  }

  .docs-navbar--github-logo {
    margin: 0;
  }
}