h6 {
  font-size: 15px;
  font-weight: 400;
}

:host ::ng-deep app-root, :host ::ng-deep app {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  min-height: stretch;
}

.content {
  min-height: 100%;
  min-height: 100%;
  min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  min-height: stretch;
  width: 100%;
}

:host ::bg-deep .ngx-audio-player-demo-grid {
  margin-top: 20px!important;
}

:host ::bg-deep .example-icon {
  padding: 0 14px;
}
  
:host ::bg-deep .example-spacer {
  flex: 1 1 auto;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
  