body {
  background: grey;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

router-outlet {
  position: absolute;
  height: 100%;
  height: fit-content;
}

:host ::bg-deep .ngx-audio-player-demo-grid {
  margin-top: 20px!important;
}

:host ::bg-deep .example-icon {
  padding: 0 14px;
}
  
:host ::bg-deep .example-spacer {
  flex: 1 1 auto;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
  