#matLink{
    text-decoration: none;
}

.header {
    text-align: center;
    padding: 60px;
}

div > .ngx-demo-content {
    margin: 20px 0px!important;
}

.ngx-demo-block button {
  margin-right: 8px;
}
