<header focusOnNavigation class="docs-header-background header mat-toolbar mat-primary" aria-label="Get started"
  id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">NGX Audio Player</h1>
      <h2> Audio Player for Angular</h2>
    </div>
    <div>
      <a mat-raised-button style="text-decoration: none!important;" routerLink="/guide/getting-started">Get started</a>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-12" style="margin: 50px 0; border: 2px solid #BBBBBB; padding: 50px; border-radius: 5px">
      <div class="row justify-contents-around">
        <div class="col py-3 pl-3">
          <div class="col">
            <h6>Controls</h6>
            <div class="d-flex flex-row px-3">
              <mat-checkbox (change)="changeMsaapDisplayTitle($event)" [checked]="msaapDisplayTitle"
                class="px-3 mat-advanced-player-display-title">
              </mat-checkbox>
              displayTitle: {{msaapDisplayTitle}}
            </div>
            <div class="d-flex flex-row px-3">
              <mat-checkbox (change)="changeMsaapDisplayPlayList($event)" [checked]="msaapDisplayPlayList"
                [disabled]="msaapPlaylist.length==1" class="px-3 mat-advanced-player-display-playlist">
              </mat-checkbox>
              displayPlayList: {{msaapDisplayPlayList}}
            </div>
            <div class="d-flex flex-row px-3">
              <mat-checkbox (change)="changeMsaapDisablePositionSlider($event)" [checked]="msaapDisablePositionSlider"
                class="px-3 mat-basic-player-display-title">
              </mat-checkbox>
              disablePositionSlider: {{msaapDisablePositionSlider}}
            </div>
            <div class="d-flex flex-row px-3">
              <mat-checkbox (change)="changeMsaapDisplayVolumeControls($event)" [checked]="msaapDisplayVolumeControls"
                class="px-3 mat-basic-player-display-title">
              </mat-checkbox>
              displayVolumeControls: {{msaapDisplayVolumeControls}}
            </div>
            <div class="d-flex flex-row px-3">
              <mat-checkbox (change)="changeMsaapDisplayRepeatControls($event)" [checked]="msaapDisplayRepeatControls"
                class="px-3 mat-basic-player-display-title">
              </mat-checkbox>
              displayRepeatControls: {{msaapDisplayRepeatControls}}
            </div>
            <div class="d-flex flex-row px-3">
              <mat-checkbox (change)="changeMsaapDisplayArtist($event)" [checked]="msaapDisplayArtist"
                class="px-3 mat-basic-player-display-title">
              </mat-checkbox>
              displayArtist: {{msaapDisplayArtist}}
            </div>
            <div class="d-flex flex-row px-3">
              <mat-checkbox (change)="changeMsaapDisplayDuration($event)" [checked]="msaapDisplayDuration"
                class="px-3 mat-basic-player-display-title">
              </mat-checkbox>
              displayDuration: {{msaapDisplayDuration}}
            </div>
          </div>
          <div class="col py-3">
            <h6>Data</h6>
            <div class="px-3 py-1">
              <button mat-stroked-button (click)="setSingleTrack()">Set Single Track</button>
            </div>
            <div class="px-3">
              <button mat-stroked-button (click)="appendTracksToPlaylist()"
                [disabled]="appendTracksToPlaylistDisable">Append Tracks To Playlist</button>
            </div>
          </div>
          <div class="col">
            <h6>Logging</h6>
            <p class="px-3">
              <button (click)="logCurrentTrack()" mat-stroked-button>Log Current
                Track
              </button>
              {{currentTrack?.title}}
            </p>
            <p class="px-3">
              <button (click)="logCurrentTime()" mat-stroked-button>Log Current
                Time
              </button>
              {{currentTime}}
            </p>
            <p class="px-3">
              <button (click)="consoleLogCurrentData()" mat-stroked-button>Console Log Current
                Data
              </button>
            </p>
          </div>
        </div>
        <div class="col">
          <ngx-audio-player #player (trackEnded)="onEnded($event)" [autoPlay]="false"
            [displayPlaylist]="msaapDisplayPlayList" [tableHeader]="msaapTableHeader" [titleHeader]="msaapTitleHeader"
            [artistHeader]="msaapArtistHeader" [durationHeader]="msaapDurationHeader" [displayTitle]="msaapDisplayTitle"
            [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls" 
            [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
            [displayDuration]="msaapDisplayDuration" [expanded]="true"
            [pageSizeOptions]="pageSizeOptions" [playlist]="msaapPlaylist">
          </ngx-audio-player>
        </div>
      </div>
    </div>
  </div>
</div>