<h1 class="mat-h1 header">Getting Started</h1>
<div class="container">
    <h1>Angular Audio Player</h1>
    <p>A library for loading playing audio using HTML 5 audio specifically for Angular 7. (<a href="https://vmudigal.github.io/ngx-audio-player/">https://vmudigal.github.io/ngx-audio-player/</a>)</p>

    <h2>Installation</h2>
    <p><code>ngx-audio-player</code> is available via <a href="https://www.npmjs.com/package/ngx-audio-player">npm</a>
        and <a href="https://yarnpkg.com/en/package/ngx-audio-player">yarn</a></p>
    <p>Using npm:</p>
    <pre><code class="language-bash">$ npm install ngx-audio-player --save</code></pre>
    <p>Using yarn:</p>
    <pre><code class="language-bash">$ yarn add ngx-audio-player</code></pre>
    <h2>Getting Started</h2>
    <p>NgxAudioPlayerModule needs Angular Material and FontAwesome 5+. <br />
        Make sure you have installed below dependencies with same or higher version than mentioned. </p>
    <p>"@angular/material": "^7.2.0" <br />
        "@fortawesome/angular-fontawesome": "^0.3.0" <br />
        "@fortawesome/fontawesome-svg-core": "^1.2.12" <br />
        "@fortawesome/free-solid-svg-icons": "^5.6.3" </p>
    <p>Import <code>NgxAudioPlayerModule</code> in in the root module(<code>AppModule</code>): </p>
    <pre><code class="language-typescript">// Import library module
import {{ '{' }} NgxAudioPlayerModule {{ '}' }} from 'ngx-audio-player';

@NgModule({{ '{' }}
  imports: [
    // ...
    NgxAudioPlayerModule
  ]
{{ '}' }})
export class AppModule {{ '{' }} {{ '}' }}</code></pre>
    <h3>Usage</h3>
    <h4>Material Style Basic Audio Player</h4>
    <h5>HTML</h5>
    <pre><code class="language-html">&lt;mat-basic-audio-player [audioUrl]="msbapAudioUrl" [title]="msbapTitle"&gt;&lt;/mat-basic-audio-player&gt;</code></pre>
    <h5>TS</h5>
    <pre><code class="language-ts">// Material Style Basic Audio Player Title and Audio URL
msbapTitle = 'Mechanical Sundariye';
msbapAudioUrl = 'https://funksyou.com/fileDownload/Songs/128/30306.mp3';</code></pre>
    <h4>Material Style Advanced Audio Player</h4>
    <h5>HTML</h5>
    <pre><code class="language-html">&lt;mat-advanced-audio-player [playlist]="msaapPlaylist"&gt;&lt;/mat-advanced-audio-player&gt;</code></pre>
    <h5>TS</h5>
    <pre><code class="language-ts">import {{ '{' }} Track {{ '}' }} from 'ngx-audio-player';   

.   
.   
.   

// Material Style Advance Audio Player Playlist
msaapPlaylist: Track[] = [
{{ '{' }}
    title: 'Naalo Chilipi Kala',
    link: 'http://sensongsmp3.co.in/mp3/2018/Lover%20(2018)/Naalo%20Chilipi%20Kala%20(Theme%20Song)%20-%20SenSongsMp3.Co.mp3'
    {{ '}' }},
  {{ '{' }}
    title: 'Rakshassi',
    link: 'https://funksyou.com/fileDownload/Songs/128/30307.mp3'
    {{ '}' }},
  {{ '{' }}
    title: 'Mechanical Sundariye',
    link: 'https://funksyou.com/fileDownload/Songs/128/30306.mp3'
    {{ '}' }},
];</code></pre>

    <h2>Versioning</h2>
    <p>ngx-audio-player will be maintained under the Semantic Versioning guidelines.
        Releases will be numbered with the following format:</p>
    <p><code>&lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;</code></p>
    <p>For more information on SemVer, please visit <a href="http://semver.org">http://semver.org</a>.</p>
    <h2>Developer</h2>
    <h6><a href="mailto:vijayendrap@gmail.com">Vijayendra Mudigal</a></h6>
    <ul>
        <li><a href="http://vijayendra.mudigal.com" target="_blank">Profile</a></li>
        <li><a href="https://github.com/vmudigal" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/vijayendra" target="_blank">Linkedin</a></li>
    </ul>
    <h2>License</h2>
    <h6>The MIT License (MIT)</h6>
</div>