<div class="header mat-toolbar mat-primary">
  <div class="d-flex justify-contents-center" style="text-align: center;">
    <div class="flex-fill">
      <img class="col-12 col-md-8 col-lg-6" src="assets/images/logos/logo_with_text_light.png">
      <h2 style="font-size: 18px;font-weight: 400;line-height: 28px;margin: 15px 0 25px;">A simple, clean, responsive,
        <a id="matLink" href="https://material.angular.io">angular material</a> design inspired basic and advanced
        audio players for
        Angular 7/8/9</h2>
      <a style="text-decoration: none;" class="docs-button mat-raised-button" mat-raised-button=""
        routerlink="/guide/getting-started" tabindex="0" aria-disabled="false" [routerLink]="['/guide/getting-started']"><span
          class="mat-button-wrapper">Get
          started</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px;">
      <mat-card style="margin: 50px 0;">
        <mat-card-header>
          <mat-card-title>Material Style Basic Audio Player</mat-card-title>
          <mat-card-subtitle>Material Style Basic Audio Player</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="row justify-contents-around mat-basic-player">
          <div class="col py-3 pl-5">
            <h6>Controls</h6>
            <div class="d-flex flex-row px-3">
              displayTitle: <mat-checkbox class="px-3 mat-basic-player-display-title" [checked]="msbapDisplayTitle"
                (change)="changeMsbapDisplayTitle($event)">{{msbapDisplayTitle}}</mat-checkbox>
            </div>
            <div class="d-flex flex-row px-3">
              displayVolumeControls: <mat-checkbox class="px-3 mat-basic-player-display-title" [checked]="msbapDisplayVolumeControls"
                (change)="changeMsbapDisplayVolumeControls($event)">{{msbapDisplayVolumeControls}}</mat-checkbox>
            </div>
          </div>
          <div class="col">
            <mat-basic-audio-player class="col-12 col-md-6" [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="false" muted="muted"
              [displayTitle]="msbapDisplayTitle" [displayVolumeControls]="msbapDisplayVolumeControls"></mat-basic-audio-player>
          </div>
        </mat-card-content>
        <div>
        </div>
      </mat-card>
    </div>
    <div class="col-12" style="margin-top: 20px;">
      <mat-card style="margin-bottom: 70px;">
        <mat-card-header>
          <mat-card-title>Material Style Advanced Audio Player</mat-card-title>
          <mat-card-subtitle>Material Style Advanced Audio Player</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="row justify-contents-around">
          <div class="col py-3 pl-5">
            <h6>Controls</h6>
            <div class="d-flex flex-row px-3">
              displayTitle: <mat-checkbox class="px-3 mat-advanced-player-display-title" [checked]="msaapDisplayTitle"
                (change)="changeMsaapDisplayTitle($event)">{{msaapDisplayTitle}}</mat-checkbox>
            </div>
            <div class="d-flex flex-row px-3">
              displayPlayList: <mat-checkbox class="px-3 mat-advanced-player-display-playlist" [checked]="msaapDisplayPlayList"
                (change)="changeMsaapDisplayPlayList($event)">{{msaapDisplayPlayList}}</mat-checkbox>
            </div>
            <div class="d-flex flex-row px-3">
              displayVolumeControls: <mat-checkbox class="px-3 mat-basic-player-display-title" [checked]="msaapDisplayVolumeControls"
                (change)="changeMsaapDisplayVolumeControls($event)">{{msaapDisplayVolumeControls}}</mat-checkbox>
            </div>
          </div>
          <div class="col">
            <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [displayPlaylist]="msaapDisplayPlayList" [autoPlay]="false" muted="muted"
              [pageSizeOptions]="pageSizeOptions" [displayVolumeControls]="msaapDisplayVolumeControls" [expanded]="true"></mat-advanced-audio-player>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>